body{
    margin: 0px;
}

/* body header */

#body-header{
    height:80vh;
    background-image: url(../image/macbook_mouse.jpg);
    background-size: cover;
    background-position: centre;
    background-attachment: fixed;
}

/* horizontal list */

.horizontal-list{
    list-style :none;
    padding-left: 0px;
    margin: 0px;
    /* text-align: center; */
}

.horizontal-list li{
    display : inline-block;
    margin :40px 8px 0px 8px;
    font-weight: 150;
    font-size: 1.5rem;
}

.horizontal-list li a{
    color : white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color : lightgray;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}

/* Name and social Icon */

#name-social-container{
    margin-top: 30vh;
}

#my-name{
    font-size: 4rem;
    letter-spacing: o.1rem;
    color:white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li{
    margin-top: 0px;
    
}
.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

/* about section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 20rem;
    width : 20rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}