#container{
    width: 400px;
    height: 400px;
    margin: 40px;
    border: 2px solid black;
    /* background-image: linear-gradient(red, blue 40%); */
    /* background-image: linear-gradient(red, blue 190px); */
    /* background-image: linear-gradient(to top right,red, blue ); */
    /* background-image: linear-gradient(120deg,red, blue ); */
    /* background-image: linear-gradient(-120deg,red, blue ); */

    /* background: repeating-linear-gradient(red,Blue 10px); */

    background: radial-gradient(red,cyan, blue);
}